/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Make Vue's root div transparent to body's flex layout */
#app {
  display: contents;
}

/* Full-page centering */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: hsl(212deg 45% 89%); /* Slate 300 */
  font-family: Outfit, sans-serif;
  font-size: 15px;
}

/* Attribution */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228deg 45% 44%);
}
